/* STILL NEED TO SORT OUT SCROLLING WHEN CART ITEM LSIT GETS LONGGGGGGGGGGGGGGGG */

/* RESET */

a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* CART COMPONENT ELEMENTS */

.cart-svg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 100%;
	top: 50%;
	height: 4em;
	width: 2em;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background: #6f5532;
}

.cart-svg:hover {
	cursor: pointer;
}

.cart-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	background: white;
	top: 0;
	right: 0;
	width: 30em;
	height: 100%;
	transition: all 0.5s cubic-bezier(0.49, 0.12, 0.02, 1);
	transform: translateX(100%);
	z-index: 2;
}

.cart-wrapper-active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	background: white;
	bottom: 0;
	right: 0;
	width: 30%;
	height: 100%;
	transition: all 0.5s cubic-bezier(0.49, 0.12, 0.02, 1);
	border-left: 1px black solid;
	box-shadow: -1em 0em 20em -1em black;
	z-index: 2;
}

.cart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

/* MODIFIED CHECKOUT ELEMENTS FOR CART */

.cart .checkout {
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	margin: 0;
}

.cart .checkout-title {
	display: flex;
	width: 100%;
	height: 12%;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 0 4px #6f5532;
	z-index: 2;
	color: #6f5532;
}

.cart .checkout-order {
	height: 100%;
	width: 95%;
	overflow-y: auto;
	z-index: 1;
}

.cart .order-item {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;
	grid-gap: 1em;
	padding: 1em;
	align-items: center;
	list-style: none;
	border-bottom: 1px solid black;
}

.cart .checkout-total {
	display: none;
}

.cart img {
	display: none;
}

/* BUTTONS */

.cart-button-wrapper {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 6.5em;
	width: 100%;
	box-shadow: 4px 0px 4px #6f5532;
	z-index: 2;
}

.cart-button {
	position: fixed;
	bottom: 3%;
	padding: 0.8rem;
	border: 0.05rem solid #6f5532;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	color: #6f5532;
	background: white;
	cursor: pointer;
	z-index: 3;
}

.cart-button:hover {
	background: #6f5532;
	color: white;
}

.cart-button:active {
	background: white;
	color: #6f5532;
}

.cart-button:focus {
	outline: none;
}

@media all and (max-width: 80em) {
	.cart-wrapper-active {
		width: 40%;
	}
}

@media all and (max-width: 65em) {
	.cart-wrapper-active {
		width: 55%;
	}
}

@media all and (max-width: 45em) {
	.cart-wrapper-active {
		width: 75%;
	}
}
