/* CART COMPONENT ELEMENTS */

.cart-svg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 100%;
	top: 50%;
	height: 4em;
	width: 2em;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background: #6f5532;
}

.cart-svg:hover {
	cursor: pointer;
}

.cart-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	background: white;
	top: 0;
	right: 0;
	width: 30em;
	height: 100%;
	transition: all 0.5s cubic-bezier(0.49, 0.12, 0.02, 1);
	transform: translateX(100%);
}

.cart-wrapper-active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	background: white;
	bottom: 0;
	right: 0;
	width: 30%;
	height: 100%;
	transition: all 0.5s cubic-bezier(0.49, 0.12, 0.02, 1);
	border-left: 1px black solid;
	box-shadow: -1em 0em 20em -1em black;
}

.cart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	max-width: 95%;
}

/* MODIFIED CHECKOUT ELEMENTS FOR CART */

.cart .checkout {
	justify-content: flex-start;
}

.cart .checkout-title {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 3em;
	justify-content: center;
	text-align: center;
	background: white;
	border-bottom: 1px solid black;
}

.cart .checkout-order {
	width: 100%;
	height: 100%;
}

.cart li {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;
	grid-gap: 1em;
	padding: 1em;
	align-items: center;
	list-style: none;
	border-bottom: 1px solid black;
}

.cart .checkout-total {
	display: none;
}

.cart img {
	display: none;
}

/* BUTTONS */

.cart .order-item-button {
	background: white;
}

.cart-button {
	position: fixed;
	bottom: 5%;
	padding: 0.8rem;
	border: 0.05rem solid black;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	color: black;
	background: white;
	cursor: pointer;
}

.cart button:hover {
	background: #393939;
	color: white;
}

.cart button:active {
	background: white;
	color: #393939;
}
