/* CHECKOUT LANDING AND CONTAINER */

.checkout-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
}

.checkout {
	margin-top: 1em;
	margin-bottom: 8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.checkout-title {
	display: none;
}

.checkout-total {
	width: 110%;
	text-align: center;
	border: 1px solid #393939;
	margin-top: 2.5em;
	background: white;
	border-radius: 4px;
}

.checkout-total > * {
	margin: 1em;
}

.checkout-button {
	padding: 0.5rem;
	border: 0.05rem solid #393939;
	font-family: "Segoe UI";
	font-size: 0.9rem;
	font-weight: 400;
	color: white;
	background: black;
	cursor: pointer;
	z-index: -1;
}

.checkout-button:hover {
	background: white;
	color: black;
}

.checkout-button:active {
	background: black;
	color: white;
}

.checkout-button:focus {
	outline: none;
}

/* INDIVIDUAL ITEMS IN CART */

.order-item {
	display: grid;
	grid-template-columns: 4fr 8fr 1fr 1fr;
	align-items: center;
	list-style: none;
	padding: 1em;
	border-bottom: 1px solid #393939;
	font-family: "Segoe UI";
}

.order-item:last-child {
	border-bottom: none;
}

.order-item-title {
	display: flex;
	align-items: center;
	font-weight: 700;
}

.order-item-title > * {
	margin-left: 0.5em;
}

.order-item img {
	height: 100px;
}

.order-item-price {
	text-align: center;
}

.order-item-button-container {
	display: flex;
	flex-direction: column;
}

.order-item-button {
	position: relative;
	left: 45%;
	border: 0;
	background: white;
	height: 1.5em;
	width: 1.5em;
	padding: 0;
}

.order-item-button:first-child,
.order-item-button:last-child {
	color: #393939;
	transform: scale(0.75);
}

.order-item-button:hover {
	background: black;
	color: white;
}

.order-item-button:active {
	background: white;
	color: black;
}

.order-item-button:focus {
	outline: none;
}

.empty-cart {
	margin-top: 2em;
}

@media all and (max-width: 90em) {
	.checkout {
		width: 60%;
	}
}

@media all and (max-width: 65em) {
	.checkout {
		width: 75%;
	}
}

@media all and (max-width: 38em) {
	.checkout {
		width: 95%;
	}
}
