.checkout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.checkout-order {
	padding: 0rem;
}

.order-item {
	display: flex;
	flex: row;
	align-items: center;
	list-style: none;
}

.order-item img {
	height: 100px;
}

.order-item:hover button {
	display: inline;
}

.order-item-button {
	border: 0;
	background: white;
	height: 1.5em;
	width: 1.5em;
	padding: 0;
	margin-left: 0.2rem;
}

.order-item-button:hover {
	background: black;
	color: white;
}

.order-item-button:active {
	background: white;
	color: black;
}
