.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10rem;
}

.logo {
	height: 135px;
	width: auto;
}

@media all and (max-width: 360px) {
	.banner {
		height: 8rem;
	}
	.logo {
		height: 110px;
	}
}
