/* NEED TO FIX 'ACTIVE' NAVLINKS COLOURING WHEN SCREEN SIZE IS SMALL */

.nav {
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top: 0;
	left: 0;
	background: #6f5532;
	height: 3rem;
	width: 100%;
	font-family: "Segoe UI";
	z-index: 1;
}

.nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	font-size: 1.3em;
	font-weight: 400;
	color: white;
	width: 100%;
}

.nav li {
	list-style: none;
}

.nav a {
	padding: 0.9rem 3rem 0.9rem 3rem;
	color: white;
	text-decoration: none;
}

.nav a:hover {
	background: white;
	color: black;
	cursor: pointer;
}

@media all and (max-width: 40em) {
	.nav ul {
		justify-content: space-around;
	}
	.nav a {
		padding: 0;
	}
	.nav a:hover {
		background: #6f5532;
	}
}

@media all and (max-width: 360px) {
	.nav a {
		font-size: 0.8em;
	}
}
