.store {
	display: flex;
	flex-direction: column;
	height: auto;
	background: white;
	align-items: center;
	padding: 3em 0 10em 0;
}

.container {
	display: grid;
	max-width: 80%;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-around;
	grid-gap: 3.5em;
}
